.header {
    position: fixed ;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .logo {
    color: white;
    font-size: 24px; 
    text-decoration: none;
  }
  
  .navbar {
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    color: white; 
    text-decoration: none;
    position: relative;
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}
